/* Import font retro ala coding */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --bg-color: #0d1117;       /* Hitam agak biru (GitHub Dark) */
    --text-primary: #00ff41;   /* Hijau Hacker/Phosphor */
    --text-secondary: #03a9f4; /* Biru Elektrik */
    --panel-bg: #161b22;       /* Warna panel instrumen */
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: 'VT323', monospace; /* Font kotak-kotak retro */
    font-size: 1.2rem;
    background-image: linear-gradient(rgba(0, 255, 65, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 255, 65, 0.03) 1px, transparent 1px);
    background-size: 20px 20px; /* Bikin efek kertas millimeter block / grid */
}